<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>


<p>
  <b>Login anzahl:</b>
  <%=h @user.login_count %>
</p>
 
<p>
  <b>Letzte anfrage um:</b>
  <%=h @user.last_request_at %>
</p>
 
<p>
  <b>Letzter login um:</b>
  <%=h @user.last_login_at %>
</p>
 
<p>
  <b>Aktueller login um:</b>
  <%=h @user.current_login_at %>
</p>
 
<p>
  <b>Letzte login ip:</b>
  <%=h @user.last_login_ip %>
</p>
 
<p>
  <b>Aktuelle login ip:</b>
  <%=h @user.current_login_ip %>
</p>
 
 
<%= link_to 'Bearbeiten', edit_account_path %>
<%= link_to 'Logout', logout_path %>