<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Login anzahl:</b>
  <%=h @user.login_count %>
</p>
 
<p>
  <b>Letzte anfrage um:</b>
  <%=h @user.last_request_at %>
</p>
 
<p>
  <b>Letzter Login um:</b>
  <%=h @user.last_login_at %>
</p>
 
<p>
  <b>Aktueller Login um:</b>
  <%=h @user.current_login_at %>
</p>
 
<p>
  <b>Letzte Login ip:</b>
  <%=h @user.last_login_ip %>
</p>
 
<p>
  <b>Aktuelle Login ip:</b>
  <%=h @user.current_login_ip %>
</p>
 
<%= content_for :action_links do %>
<%= link_to 'Bearbeiten', edit_user_path(@user) %>
<% end %>
