<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= ENV['TITLE'] || "Fotos" %></title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="initial-scale=1.0">
	<%= yield :head %>
	<%= stylesheet_link_tag 'application' %>
	<%= csrf_meta_tag %>
</head>
<body>
<div id="container">

<div id="header">
	<div id="action_links">
	  <%= form_tag albums_path, { :id => :search } do -%>
		<input type="text" name="q" class="textfield"/>
		<input type="submit" value="Search" class="button" />
	  <% end -%>
	  <h6>
	    <%= yield :action_links %>
	  </h6>
	</div>

	<h1>
		<%= link_to(if ENV['LOGO'] then image_tag(ENV['LOGO']) else (ENV['TITLE'] || "Fotos") end, root_path) %>
	</h1>

	
    <hr class="seperator" />
	<h6>
	  <%= breadcrumbs %>
	</h6>
</div>
	  
<% if current_user %>
  <div class='logged_in'>
    Eingeloggt als <%= current_user.name %>
    <%= link_to 'Ausloggen', logout_path %>
  </div>
<% end %>

<div id="content">
	<p id="notice"><%= flash[:notice] %></p>
	<%= yield %>
</div>

<div id="footer">
  
  <hr class="seperator" />
  &copy; Stefan Greffenius - 2013</a>
</div>
</div>

<%= javascript_include_tag 'jquery-1.4.2.js', 'rails', 'balder' %>
<%= yield :javascript %>
</body>
</html>
